<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userRepository" class="cn.shrmus.springboot.demo20200106.user.UserRepository"></bean>

	<bean id="userService" class="cn.shrmus.springboot.demo20200106.user.UserService">
		<constructor-arg name="userRepository" ref="userRepository"/>
	</bean>

	<bean id="userController" class="cn.shrmus.springboot.demo20200106.user.UserController">
		<constructor-arg name="userService" ref="userService"/>
	</bean>
</beans>